.vscode/launch.json
.vscode/settings.json
.vscode/.ropeproject/config.py
__pycache__/utility.cpython-37.pyc
.vscode/.ropeproject/objectdb
.DS_Store
__pycache__/bot.cpython-37.pyc

bot.env
app/data/log.txt
app/data/books.json
app/data/bot_state.json

rust-app/target/*